<h2> Welcome {{user.first_name}}</h2>

<h3>Upcoming Events</h3>
<div class="list-group">
{{#each events}}
  <div class="list-group-item clearfix">
    <span>
      <h4 class="list-group-item-he;ding"><a href="/artists/{{this.artist.slug}}">{{this.artist.name}}</a></h4>
      {{this.__t}}
      <br>{{formatDate this.date "dddd, MMMM DD, YYYY"}}
    {{#if this.locationName}}
      {{this.locationName}}, {{this.locationCity}}
      {{#if this.locationState}}
      , {{this.locationState}}
      {{/if}}
      , {{this.locationCountry}}
      
    {{/if}}
    </span>
    <span class="clearfix pull-right">
      <a href='/artists/{{this.artist.slug}}/event/{{this._id}}' class="btn btn-primary">Details</a>
    </span>
  </div>
{{/each}}
</div>
