<h2> Welcome {{user.first_name}}</h2>

<h3>Upcoming Events</h3>
<form method="GET" action="">
<label for="event_type">Event type</label>
<select id="event_type" name="event_type" >
  <option value="">All</option>
  <option value="Performance">Performances</option>
  <option  value="Release">Releases</option>
</select>
<input type="submit" value="Filter Results">
</fom>
{{# if events}}
  <div class="list-group">
  {{#each events}}
    <div class="list-group-item clearfix">
      <span>
        <h4 class="list-group-item-he;ding"><a href="/artists/{{this.artist.slug}}">{{this.artist.name}}</a></h4>
        {{this.__t}}
        <br>{{formatDate this.date "dddd, MMMM DD, YYYY"}}
      {{#if this.locationName}}
        {{this.locationName}}, {{this.locationCity}}
        {{#if this.locationState}}
        , {{this.locationState}}
        {{/if}}
        , {{this.locationCountry}}
        
      {{/if}}
      </span>
      <span class="clearfix pull-right">
        <a href='/artists/{{this.artist.slug}}/event/{{this._id}}' class="btn btn-primary">Details</a>
      </span>
    </div>
  {{/each}}
  </div>
{{ else }}
  <div class="text-center">
    <h4>It looks like you aren't following any artists yet. Please go to the <a href="/artists/">Artists page</a> and find some artists whose events you'd like to see</h4>
  </div>
{{/if }}
