{{#if user}}
<h2> Welcome {{user.first_name}}</h2>
<a href="/logout">Logout</a>
{{else}}
  <a href="/login">Login</a>
  <a href="/register">Register</a>
{{/if}}

<h3>Upcoming Events</h3>
{{#each events}}
  <div class="event_listing">
    <p><a href="/artist/{{this.artist.slug}}">{{this.artist.name}}</a></p>
    <p>{{this.__t}}</p>
    <p>{{this.date}}</p>
    {{#if this.locationName}}
      <p>{{this.locationName}}, {{this.locationCity}}
      {{#if this.locationState}}
      , {{this.locationState}}
      {{/if}}
      , {{this.locationCountry}}
      </p>
    {{/if}}
    <a href='/artist/{{this.artist.slug}}/event/{{this._id}}'>Details</a>
  </div>
{{/each}}

